<!doctype html>
<head>
    <title>My application deployed automatically</title>
</head>
<body>
    <h1>To replace or not to replace</h1>
    <br>
	Resulting array is {{result}}
	<br>
	First input field accepts an YAML formatted list.
	<br>
	Second input field accepts an integer to be replaced off of given list.
    <br>
    Third input field accepts an integer to be placed instead of input given on second input field.
    <br>
    <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2">
        </textarea>
        <textarea name="input3">
        </textarea>
        <br>
        <input type="submit">
    </form>
</body>
